<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
        A bookstore is a store that sells books, and where people can buy them. 
        A used bookstore or second-hand bookshop sells and often buys used books.
      </p>
      <p>
        Bookshop is an online bookstore with a mission to financially support local, independent bookstores.
        We believe that bookstores are essential to a healthy culture. 
        They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime. 
        They’re also anchors for our downtowns and communities.
      </p>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3>Our location on map</h3>
      <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
